on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

name: Check Cross

jobs:
  test:
    name: "Check Cross"
    strategy:
      matrix:
        target:
          - armv7-unknown-linux-gnueabihf
          - aarch64-unknown-linux-gnu

    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            ~/.cargo/bin/cross
            target
          key: ${{ matrix.target }}-cargo-${{ hashFiles('**/Cargo.lock') }}-v4

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: ${{ matrix.target }}
          override: true

      - name: Run cargo check
        uses: actions-rs/cargo@v1
        with:
          use-cross: true
          command: check
          args: --all --target=${{ matrix.target }}
